<body>
<h1 class="mt-5 text-center text-primary">Fresh Fruits</h1>
<div class="row m-5">
    <div class="col-sm-4">
      <div class="card" style="height: 18rem;">
        
          <div class="card-body bg-light">
            <img src=".\assets\best-product-1.jpg" height="150" width="300">
            <h6>Oranges</h6>
            <h6>Price :10</h6>
            <p>
              Experience the burst of sunshine with our succulent oranges, 
              packed with vibrant flavor and essential nutrients to refresh
               and energize your day.
            </p>
        </div>
        </div>
     
    </div>
    <div class="col-sm-4">
      <div class="card" style="height: 20rem;">
        <div class="card-body bg-light">
            <img src=".\assets\best-product-6.jpg" height="150" width="300">
            <h6>Apples</h6>
            <h6>Price: 10</h6>
            <p>
              Savor the crisp, juicy bite of our apples, 
              a harmonious blend of sweetness and tartness, packed with fiber 
              and antioxidants for a wholesome, refreshing treat.
            </p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
        <div class="card" style="height: 20rem;">
          
            <div class="card-body bg-light">
              <img src=".\assets\best-product-3.jpg" height="150" width="300">
              <h6>Bananas</h6>
              <h6> Price: 20</h6>
              <p>
                Indulge in the creamy, sweet essence of our bananas, a convenient source of 
                energy and potassium, perfect for a nutritious snack on the go.
          </p>
            
          </div>
          </div>
        </div>
      
  </div>

<h1 class="text-center text-success">Vegetables</h1>
  <div class="row m-5">
    <div class="col-sm-4">
      <div class="card" style="height: 18rem;">
        
          <div class="card-body bg-light">
            <img src=".\assets\vegetable-item-1.jpg" height="150" width="300">
            <h6>Tomato</h6>
            <h6>$10</h6>
            <p>
              Relish the rich, tangy sweetness of our tomatoes,
               a versatile culinary staple bursting with juicy flavor and essential 
              vitamins for a vibrant, healthy addition to any dish.
            </p>
        </div>
        </div>
     
    </div>
    <div class="col-sm-4">
      <div class="card" style="height: 20rem;">
        <div class="card-body bg-light">
            <img src=".\assets\vegetable-item-5.jpg" height="150" width="300">
            <h6></h6>
            <h6>Price: 10</h6>
            <p>
              Discover the earthy, comforting taste of our potatoes,
               a staple ingredient with a buttery texture, 
               perfect for a wide range of dishes from hearty stews to crispy fries, 
               packed with nutrients to fuel your day.
            </p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4 ">
        <div class="card" style="height: 20rem;">
          
            <div class="card-body bg-light">
              <img src=".\assets\vegetable-item-6.jpg" height="150" width="300">
              <h6>Cilantro</h6>
              <h6> Price: 20</h6>
              <p>
                Savor the fresh, aromatic zest of cilantro,
                 a vibrant herb that adds a burst of citrusy, leafy flavor to elevate traditional
                 dishes with its delightful fragrance and nutritional benefits.
          </p>
            
          </div>
          </div>
        </div>
      
  </div>
</body>